@import "tailwindcss";
   
@theme {
  --color-primary: #4caf50;
  --color-secondary: #8bc34a;
  --color-tertiary: #102410;
  --color-accent: #ffd54f;
  --color-hover: #66bb6a;
  --color-text: #e8f5e9;  
  --color-dimWhite: rgba(255, 255, 255, 0.7);
  --color-dimBlue: rgba(9, 151, 124, 0.1);
  --color-dimRed: rgba(151, 9, 49, 0.1);

  --font-poppins: "Poppins", sans-serif;
  --font-felix: "Felix Titling", serif;

  --breakpoint-xs: 480px;
  --breakpoint-ss: 620px;
  --breakpoint-sm2: 740px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
  --breakpoint-lg: 1200px;
  --breakpoint-2xlg: 1500px;
  --breakpoint-xl: 1700px;
  --breakpoint-xxl: 2300px;
}

@layer base {
  html,
  body {
    background-color: var(--color-tertiary);
    color: var(--color-dimWhite);
    font-family: 'Poppins', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility animate-gradient {
  animation: gradient-move 10s ease infinite;
  background-size: 300% 300%;
}

@utility animate-fade-in-left {
  animation: fade-in-left 1.5s ease-out forwards;
}

@font-face {
  font-family: 'Felix Titling';
  src: url('/fonts/Felixti.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kenyan Coffee';
  src: url('/fonts/KenyanCoffee.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .navbutton {
    @apply rounded-md text-lg cursor-pointer font-medium py-2 px-4;
    color: var(--color-primary);
    transition: color 0.3s;
  }

  .btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    @apply py-2 px-4 rounded-md font-semibold;
    transition: background-color 0.3s;
  }

  .sub {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #66bb6a 90%,
    #071a05 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

.sub:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.section {
  height: 100svh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  justify-items: center;
}

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #c3dbff 0.89%,
      #84b4fc 17.23%,
      #5997f5 42.04%,
      #377de7 55.12%,
      #1557bb 71.54%,
      #021127 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-red-gradient {
    background: linear-gradient(
      157.81deg,
      #ffc3c3 -43.27%,
      #fc8484 -21.24%,
      #f55959 12.19%,
      #e73737 29.82%,
      #bb1515 51.94%,
      #4b0101 90.29%
    );
  }

  .bg-red-gradient-reverse {
    background: linear-gradient(
      157.81deg,
      #4b0101 -43.27%,
      #bb1515 -21.24%,
      #e73737 12.19%,
      #f55959 29.82%,
      #fc8484 51.94%,
      #ffc3c3 90.29%
    );
  }

    .bg-green-gradient {
    background: linear-gradient(
      157.81deg,
      #0e300a -43.27%,
      #0e2e0e -21.24%,
      #031b02 12.19%,
      #02200a 29.82%,
      #071108 51.94%,
      #070f08 90.29%
    );
  }

  .bg-green-gradient-reverse {
    background: linear-gradient(
      157.81deg,
      #070f08 -43.27%,
      #071108 -21.24%,
      #02200a 12.19%,
      #031b02 29.82%,
      #0e2e0e 51.94%,
      #0e300a 90.29%
    );
  }
}


@layer utilities {
  .bg-primary { background-color: var(--color-primary); }
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-tertiary { background-color: var(--color-tertiary); }

  .font-felix {
    font-family: 'Felix Titling', serif;
  }
  .font-kenyan {
    font-family: 'Kenyan Coffee', serif;
  }

  .text-primary { color: var(--color-primary); }
  .text-secondary { color: var(--color-secondary); }
  .text-tertiary { color: var(--color-tertiary); }
  .text-accent { color: var(--color-accent); }
  .text-dimWhite { color: var(--color-dimWhite); }
  .text-dimBlue { color: var(--color-dimBlue); }
  .text-dimRed { color: var(--color-dimRed); }
}